h1 {
  text-align:center;
  color:#23ff91;
}
h2 {
  text-align:center;
  color:#71fc00;
}
h3 {
  text-align:center;
  color:#fc002e;
}
h4 
  image-center 
  display: block;
  margin-left: auto;
  margin-right: auto;


body {
background-image: url(Funky.png);
  background-color: #cccccc; 
}
 
