
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .4);
};
}

li {
    float: left;
}

li a {
    display: block;
    color: #d5ff2d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #f40020;
}
