h1 {
  text-align:center;
  color:#23ff91;
}

body
{
   background-image: url(Funky.png);
background-size: cover;
  background-color: #cccccc;
} 

img {
  display:block;margin:auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;

}



